{% extends 'articles/base.html' %}
{% block content %}
<h1 class="element2 high"> Аккаунт читателя </h1>
<div class="prof">
    <div class="one"><img src="{{ profile.profile_image.url }}"></div>
    <div class="two">
        <p> <a class="green" href="{% url 'edit_account' %}"> Редактировать аккаунт (расскажите о себе и загрузите свою аватарку)  </a></p>
        <p> <b>Имя:</b><br> {{ profile.name }} </p>
        <p> <b>Информация:</b><br> {{ profile.info }} </p>
    </div>
</div>
{% endblock %}