<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог Александра Грибова</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type='image/x-icon' href="{% static 'articles/favicon.ico' %}">
</head>
<body>
{% if page == 'register' %}
<div>
<h1>Регистрация</h1>
<div>{{ error }}</div>
<form class='register' action="{% url 'register' %}" method='post'>
{% csrf_token %}
{{ form.as_p }}
<button class='btn'>Зарегистрироваться</button>
</form>
</div>
{% else %}
<div>
    <h1>Авторизация</h1>
<div>{{ error }}</div>
<form class='register' action="{% url 'login' %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
<div><button class='btn'>Войти</button></div>
</form>
</div>
{% endif %}
</body>
</html>