{% extends "articles/base.html" %}

{% block content %}


<div>
    <p class="des">Статьи об интересных (по мнению автора) фактах<br>
    и явлениях культуры, истории, политики, литературы и т.д. </p>
    <form class="search_form" action="{% url 'index' %}" method="get">
        <input class="search" type="text" name="search_query" value="{{ search_query }}" placeholder="Поиск по сайту">
    </form>
</div>


{% for art in arts %}
<div class="element">
    <div class="title">
        <h2 class="top"><a href="{% url 'detail' art.id %}" target="_blank">{{ art.title }}</a></h2>
        <p class="img"><img src="{{ art.title_pic.url }}" alt=""></p>
    </div>
        <p class="text"><a href="{% url 'detail' art.id %}" target="_blank">{{ art.art_text|truncatechars:400 }}</a></p>
        <p class="rating">Оценка читателей: {{ art.average_rating }}</p>
</div>

{% endfor %}

{% if arts.has_other_pages %}
<div class="pagination">
    <ul class="container">
        {% if arts.has_previous %}
        <li><a href="?page={{ arts.previous_page_number }}" class="btn1 page-link">&lt;Prev</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == arts.number %}
        <li><a href="?page={{ page }}" class="btn2 page-link"> {{ page }} </a></li>
        {% else %}
        <li><a href="?page={{ page }}" class="btn1 page-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if arts.has_next %}
        <li><a href="?page={{ arts.next_page_number }}" class="btn1 page-link">Next &gt;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}