{% extends "articles/base.html" %}

{% block content %}


<p class="des">Статьи об интересных (по мнению автора) фактах<br>
    и явлениях культуры, истории, политики, литературы и т.д. </p>

{% for art in arts %}
<div class="element">
    <div class="title">
        <h2 class="top"><a href="{% url 'detail' art.id %}" target="_blank">{{ art.title }}</a></h2>
        <p class="img"><img src="{{ art.title_pic.url }}" alt=""></p>
    </div>
        <p class="text"><a href="{% url 'detail' art.id %}" target="_blank">{{ art.art_text|truncatechars:400 }}</a></p>
        <p class="rating">Оценка читателей: {{ art.rating }}</p>
</div>

{% endfor %}
{% endblock %}